.Asistencia{
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 17% 83%; 
    .Asistencia__menu{
        margin: 0;
        padding: 1vh 1.2vw;
    }

    .Asistencia__cuerpo{

        background-color: transparent !important;
        width: 100%;
        height: 100%;
        padding: 0 20px 0 5px;

        .Asistencia__cuerpo-perfil{
            height: 10%;
            width: 24%;
            margin: 0;
            margin-top: 1%;
            float: right;
            margin-right: 1%;
        }

        .Asistencia__cuerpo-titulo{
            height: 3%;
            margin-top: 2%;
            font-family: 'Mulish';
            font-weight: 900;
            color: #7D0F2E;
            h1{
                font-size: 1.5rem !important;
            }
        }

        .Asistencia__cuerpo-contenido{
            width: 100%;
            height: 100%;

            .Asistencia__lista{
                width: 100%;
                height: 100%;
                margin: 0;
                display: flex;
                align-items:flex-end
            }
        }
    }
}