.Home{
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 17% 83%; 
    .Home__menu{
        margin: 0;
        padding: 1vh 1.2vw;
    }

    .Home__cuerpo{

        background-color: transparent !important;
        background-image: url(https://i.postimg.cc/vHwhWrBy/262443407-4609892662462329-6332767122548734433-n-1.jpg);
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        padding: 0 20px 0 20px;

        .Home__cuerpo-perfil{
            height: 10%;
            width: 24%;
            margin: 0;
            margin-top: 1%;
            float: right;
            margin-right: 1%;
        }

        .Home__cuerpo-titulo{
            height: 3%;
            margin-top: 2%;
            font-family: 'Mulish';
            font-weight: 900;
            color: #7D0F2E;
            h1{
                font-size: 1.5rem !important;
            }
        }

        .Home__cuerpo-contenido{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-wrap: wrap;
            justify-content:center;
            align-items: flex-start;
            img{
                width: 90%;
                height: 100%;
            }
        
            h1{
                width: 100%;
                text-align: center;
            }
        }
    }
}
.sdp {
    --selected-date-color: #FCDC3C !important; 
    --font: 'Kollektif       ', sans-serif !important;
    position: absolute;
    right: 3%;
    bottom: 10%;
  }
  .sdp--square-btn{
    background-color: #2EA39D !important;
  }
 .sdp--date-btn__selected{ 
    background-color: #7D0F2E !important;
  }