.Conteiner{
    margin: 0;
    h3{
        font-family: 'Mulish';
        font-size: 13px;
        font-weight:600;
        color: #2EA39D;
        margin-bottom: 4px
    }
    .input{
        border-radius: 5px;
        height: 30px;
        font-size: 13px;
        padding: 10px;
        font-family: "mulish", sans-serif;
        font-weight: 500;
        border: 1px solid #2EA39D;
        color: #666666;
        transition: all 0.3s ease-in-out;

        &:focus{
            outline: none;
            border: 3px solid #2EA39D;
        }
    }
}