.MuiInputBase-input{
    color: rgb(211, 206, 206) !important;
    font-size: 1rem !important;
}
.MuiFormLabel-root{
    color: rgb(255,255,255) !important;
    font-family: "mulish" !important;
    text-align: center;
}

@media screen and (max-width: 950px) {
    .Img{
        display: none;
    }
}

    
