.Menu{
    width: 200px;
    height: 98vh;
    background-color:#FCDC3C;
    display: grid;
    grid-template-rows: 13% 68% 15%;
    border-radius: 20px;
    overflow: hidden;
    position: fixed;
   

    .Menu__imgLogo{
        padding-top: 20px;
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: center;
        align-items: flex-start;

        img{
            width: 150px;
            height: auto;
            margin: 0;
        }
    }

    .Menu__navBar{
        width: 100%;
        height: 100%;

        nav{
            width: 100%;
            height: 85%;
            margin: 0;
            ul{
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                flex-direction: column;
                justify-content: space-around;
                padding: 0px;
                margin: 0px;
                margin-left: 25px;
    
                li{
                    width: 100%;
                    height: 30px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0px;
                    margin: 0px;
                    padding: 10px;
                    padding-left: 25px;
                    font-size: 0.88rem;
                    cursor: pointer;
                    transition: 0.3s;
    
                    a{
                        width: 100%;
                        height: 20px;
                        display:inline-block;
                        margin: 0;
                        font-family: 'Mulish', sans-serif;
                        font-weight: 700;
                        text-decoration: none;
                        color: #7D0F2E;
                    }
    
                    &:hover{
                        background-color: #fff;
                        border-left: 8px solid #7D0F2E;
                    }
                }
            }
        }

    }
    
    .Menu__contactoPersonal{
        width:100%;
        height: 100%;

        .Menu__contactoPersonal__SubTitle{

            margin-bottom: 5px;
            text-align: center;

            a{
                text-decoration: none;
                font-family: 'Mulish', sans-serif;
                font-weight: 700;
                color:#7D0F2E;
            }
        }
        
        .Menu__contactoPersonal__imgs{
            width: 100%;
            height: 90%;
            display:flex;
            justify-content: center;
        }
        
        .Menu__contactoPersonal__imgs-WhatsApp{
            width: 30%;
            height:100%;
            margin:0;

            a
            {
                width: 100%;
                height:50%;
                display:flex;
                justify-content: flex-end;
                margin:0;

                svg{
                    width: 100%;
                    height: 90%;
                    right: 0;
                    fill: #7D0F2E;
                    transition: 0.3s;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
        }
        
        .Menu__contactoPersonal__imgs-Messenger{
            width: 30%;
            height: 100%; 
            margin:0;
            
            a{
                width: 100%;
                display:flex;
                justify-content: flex-start;
                align-items: flex-start;
                height:50%;
                margin:0;

                svg{
                    width: 100%;
                    height: 90%;
                    left: 0px;
                    fill: #7D0F2E;
                    transition: 0.3s;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
        }

    }
    
}


