.personal{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 17% 83%; 
    .personal__menu{
        margin: 0;
        padding: 1vh 1.2vw;
    }

    .personal__cuerpo{

        background-color: transparent !important;
        width: 100%;
        height: 100%;
        padding: 0 20px 0 20px;

        .personal__cuerpo-perfil{
            height: 10%;
            width: 24%;
            margin: 0;
            margin-top: 1%;
            float: right;
            margin-right: 1%;
        }

        .personal__cuerpo-titulo{
            height: 3%;
            margin-top: 2%;
            font-family: 'Mulish';
            font-weight: 900;
            color: #7D0F2E;
            h1{
                font-size: 1.5rem !important;
            }
        }

        .personal__cuerpo-contenido{
            width: 100%;
            height: 100%;

            .personal__tabla{
                width: 100%;
                height: 100%;
                margin: 0;
                display: flex;
                align-items:flex-end
            }
        }
        .personal__botones{
            padding-left: 20%;
            padding-right: 20%;
            width: 100%;
            display: flex;
            margin-top: 50px;
            justify-content: space-between;
        }
    }
}   