.RegistrarContrato{
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr; 
    padding: 0 20px;
    gap: 20px;
    .RegistrarContrato__menu{
        margin: 0;
        padding: 1vh 0;
        width: 100%;
    }

    .RegistrarContrato__cuerpo{

        background-color: transparent !important;
        width: 100%;
        height: 100%;

        .RegistrarContrato__cuerpo-perfil{
            height: 10%;
            width: 24%;
            margin: 0;
            margin-top: 1%;
            float: right;
            margin-right: 1%;
        }

        .RegistrarContrato__cuerpo-titulo{
            height: 3%;
            margin-top: 2%;
            font-family: 'Mulish';
            font-weight: 900;
            color: #7D0F2E;
            h1{
                font-size: 1.5rem !important;
            }
        }

        .RegistrarContrato__cuerpo-contenido{
            width: 100%;
            height: 60%;
            margin-top: 5%;
            display: flex;
            justify-content: start;
            align-items: flex-start;
        
            .RegistrarContrato__registrar{
                width: fit-content;
                height: 100%;
                margin: 0 auto;
                min-width: 330px;

                .RegistrarContrato__registrar-titulo{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;

                    h2{
                        font-family: 'Mulish';
                        font-size: 1.3rem;
                        font-weight: 500;
                        color: #7D0F2E;
                        text-align:start ;
                        margin: 0;
    
                    }
                }                

                .RegistrarContrato__Combos{
                    width: 100%;

                    .RegistrarContrato__fila1{
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        height: 50px;
                        margin-top: 10px;
                        
                    }
                    .RegistrarContrato__fila2{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        height: 50px;
                        margin-top: 10px;
                    }
                    .RegistrarContrato__fila3{
                        width: 100%;
                        display: flex;
                        height: 50px;
                        margin-top: 10px;
                        justify-content: start;
                    }

                    .RegistrarContrato__fila_33{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        margin-top: 10px;
                        justify-content: start;
                        gap: 8px;
                    }

                    
                }

            }

            .RegistrarContrato__tabla{
                width: 60%;
                height: 100%;
                margin: 0;
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 4%;
                .RegistrarContrato__fila{
                    width: 70%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 30px;
                    align-items: center;
                }
            }
        }
        .RegistrarContrato__botones{
            width: 100%;
            display: flex;
            margin-top: 100px;
            justify-content: space-between;
        }
    }
} 

.RegistrarContrato__fila44{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 20px 0;
    justify-content: space-around;
    flex-wrap: wrap;
    h1{
        font-family: 'Mulish';
        font-size: 1rem;
        font-weight: 800;
        color: #7D0F2E;
        text-align:left;
        margin: 0;
    }
    h2{
        font-family: 'Mulish';
        font-size: 14px;
        font-weight: 500;
        color: #7D0F2E;
        text-align:left;
        margin: 0;
    }
    h3{
        font-family: 'Mulish';
        font-size: 14px;
        font-weight: 500;
        color: #2EA39D;
        text-align:left;
        margin: 0;
    }
}


.RegistrarContrato__fila4{
    width: 90%;
    display: flex;
    height: 10px;
    margin-top: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    h1{
        font-family: 'Mulish';
        font-size: 1rem;
        font-weight: 800;
        color: #7D0F2E;
        text-align:left;
        margin: 0;
    }
    h2{
        font-family: 'Mulish';
        font-size: 14px;
        font-weight: 500;
        color: #7D0F2E;
        text-align:left;
        margin: 0;
    }
    h3{
        font-family: 'Mulish';
        font-size: 14px;
        font-weight: 500;
        color: #2EA39D;
        text-align:left;
        margin: 0;
    }
}


.fieldCustom {
    label{
        color: rgb(82, 79, 79) !important;
        font-weight: 800;
    }
}
