.RegistrarTipo{
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr; 
    padding: 0 20px;
    gap: 20px;
    .RegistrarTipo__menu{
        margin: 0;
        padding: 1vh 0;
        width: 100%;
    }

    .RegistrarTipo__cuerpo{

        background-color: transparent !important;
        width: 100%;
        height: 100%;

        .RegistrarTipo__cuerpo-perfil{
            height: 10%;
            width: 24%;
            margin: 0;
            margin-top: 1%;
            float: right;
            margin-right: 1%;
        }

        .RegistrarTipo__cuerpo-titulo{
            height: 3%;
            margin-top: 2%;
            font-family: 'Mulish';
            font-weight: 900;
            color: #7D0F2E;
            h1{
                font-size: 1.5rem !important;
            }
        }

        .RegistrarTipo__cuerpo-contenido{
            width: 100%;
            height: 100%;
            min-width: 280px;
            display: flex;
            justify-content:flex-start;
            align-items: center;
            flex-wrap: wrap;
        
            .RegistrarTipo__registrar{
                width: 28%;
                height: 100%;
                margin: 0;

                .RegistrarTipo__registrar-titulo{
                    width: 100%;
                    height: 64px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    h2{
                        font-family: 'Mulish';
                        font-size: 1rem;
                        font-weight: 500;
                        color: #7D0F2E;
                        text-align:start ;
                        margin: 0;
    
                    }
                }                

                .RegistrarTipo__Combos{
                    width: 100%;
                    height: 56%;
                    padding-right: 25px;
                    border-right: 4px solid #7D0F2E;

                    .RegistrarTipo__fila{
                        width: 100%;
                        display: flex;
                        margin-top: 10px;
                    }

                    .RegistrarTipo__fila1{
                        margin-top: 10%;
                    }
                }

            }

            .RegistrarTipo__lista{
                width: 72%;
                height: 100%;
                min-width: 300px;
                margin: 0;
                overflow: hidden;
                padding-left: 26px;
            }
        }
    }
}

