//contenedor de icono buscar
.MuiIcon-root{
    padding-right: 27px;
}
//fondo de la tabla
.MuiPaper-root{
    background-color: transparent !important;
}

//botones de la paginacion o navegacion
.MuiButtonBase-root.MuiIconButton-root{
    color: #7D0F2E;
    font-family: "mulish" sans-serif;
}
.MuiIconButton-root.Mui-disabled{
    color: #7D0F2E !important;
    font-family: "mulish" sans-serif;
}

.MuiTypography-caption{
    color: #7D0F2E;
    font-family: "mulish" sans-serif;
    font-weight:700;
}

//style scrollbar horizontal
.Component-horizontalScrollContainer-36 ::-webkit-scrollbar-thumb{
    background-color: #2EA39D !important;
}

.Component-horizontalScrollContainer-20 ::-webkit-scrollbar-thumb{
    background-color: #2EA39D !important;
}

.Component-horizontalScrollContainer-16 ::-webkit-scrollbar-thumb{
    background-color: #2EA39D !important;
}
.MuiIconButton-colorInherit {
    color: #2EA39D !important;
}

//titulo de la lista de la tabla
.MuiTypography-root.MuiTypography-h6{
    padding:0 !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    font-family: "mulish" !important;
    color: #7D0F2E !important;
}

.MuiToolbar-root.MuiToolbar-regular{
    padding:0 !important;
}

//sombra de la tabla parte bootom
.MuiPaper-elevation2{

    box-shadow: 0px 3px 1px -2px #2EA39D, 0px 2px 2px 0px #2EA39D, 0px 1px 5px 0px #2EA39D !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(2px) !important;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.2) !important;
    border-right: 1px solid  rgba(255, 255, 255, 0.2) !important;
}




//estilos de filtro
.MuiInputBase-input{
    color: #7D0F2E !important;
}

//diseño del heador del la tabla para
.MuiTableRow-root.MuiTableRow-head{
    backdrop-filter: blur(2px) !important;
}

//diseño de filtro
.MuiInputBase-root {
    font-size: 13px !important;
}
.MuiList-root{
    background-color: rgba(255, 255, 255, 0.6) !important;
    backdrop-filter: blur(2px) !important;
}

.MuiInput-underline:after {
    border-bottom: 2px solid #2EA39D !important;
    
    }

.MuiInput-underline:before {
    &:hover{
        border-bottom: 2px solid #2EA39D !important;
    }
}

