//contenedor de icono buscar
.MuiIcon-root{
    padding-right: 27px;
}



//botones de la paginacion o navegacion
.MuiButtonBase-root.MuiIconButton-root{
    color: #7D0F2E;
    font-family: "mulish" sans-serif;
}
.MuiIconButton-root.Mui-disabled{
    color: #7D0F2E !important;
    font-family: "mulish" sans-serif;
}

.MuiTypography-caption{
    color: #7D0F2E;
    font-family: "mulish" sans-serif;
    font-weight:700;
}

.Component-horizontalScrollContainer-12 ::-webkit-scrollbar-thumb {
    background: #351572 !important;
}

.MuiIconButton-colorInherit {
    color: #2EA39D;
}

.MuiToolbar-root.MuiToolbar-regular.MTableToolbar-root-29.MuiToolbar-gutters{
    padding:0 !important;
    font-weight: 500 !important;
    font-family: "mulish" !important;
    color: #7D0F2E !important;
}