.Usuario{
    width: 238px;
    height: 73px;
    right: 0px;
    top: 0px;
    display: flex;

    .Usuario__navBar{
        visibility: hidden;
    }

    .Usuario__nombre{
        font-family: 'mulish', sans-serif;
        font-style: normal;
        font-weight: 700;
        text-decoration: underline;
        font-size: 18px;
        line-height: 21px;
        color: #7D0F2E;
        margin-right: 15px;
        cursor: pointer;

        &:hover{
            visibility: 0.7;
        }
    }

    .Usuario__imgPerfil{
        width: 55px;
        img{
            width: 60px;
            border-radius: 50%;
            border: solid 3px #7D0F2E;
        }
    }
}

