.webcam-div {
  border: 3px solid #000;
  border-radius: 17rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 20rem;
  margin: auto;
}

.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1050; /* Asegúrate de que el Toast esté por encima de otros elementos */
}

section.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: end;
  width: 37rem;
  height: 27rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 12rem;
  z-index: -1;
  border-radius: 1rem;
  background: #efefef;
}
