// input style
.input-general {
  width: 100%;
  height: 30px;
  border-radius: 6px;
  padding: 4px 10px;
}

.button:disabled {
  background-color: #52212f;
  cursor: text
}

.error{
  color: red;
  font-size: 0.8rem;
}
