*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #FFFFFF;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor{
    width: 100%;
    height: 100vh;
}